{% if post.get_field('show_hero') %}

<div class="hero">
  <div class="container">

    {% if post.get_field('hero_title') %}
      <h1 class="hero__title">{{ post.get_field('hero_title') }}</h1>
    {% endif %}

  </div>
</div>

{% endif %}
