{% extends "base.twig" %}

{% block content %}

<div class="content">
  <div class="container">

        {% for blog_post in posts %}

          <div class="post">
            <h2>{{ blog_post.title }}<h2>
            <a href="{{ blog_post.link }}">Read More...</a>
          </div>

        {% endfor %}

  </div>
</div>

{% endblock %}
